<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esperando confirmação do Email <%=dados.email%></title>

    <%- include("./components/head.ejs")%>

</head>
<body>

    <div class="text-bg-dark">
        <%- include("./components/nav.ejs")%>
    </div>

    <h1 class="text-center">Esperando confirmação do email <%=dados.email%> </h1>

    <h5 class="text-center">muito obrigado <%=dados.name%> por se cadastrar</h5>

    <div class="text-bg-dark">
        <%- include("./components/footer.ejs")%>
    </div>
    
</body>
</html>