<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro Email <%=email%> já cadastrado</title>

    <%- include("./components/head.ejs")%>

</head>
<body>

    <div class="text-bg-dark">
        <%- include("./components/nav.ejs")%>
    </div>

    <h1 class="text-center">O Email <%=email%> já foi cadastrado</h1>

    <div class="text-bg-dark">
        <%- include("./components/footer.ejs")%>
    </div>
</body>
</html>