<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal | Fácil Validade </title>

    <%- include("./components/head.ejs")%>

</head>
<body>

    <div class="text-bg-dark">
        <%- include('./components/nav.ejs'); %>
    </div>

    <main class="my-2 mx-5">
        <div class="titulo">

            <h1 class="text-center">
                Bem vindo ao 
            </h1>

            <h1 class="text-center">
                <span class="logo bg-opdark rounded te"> 
                    <span class="material-symbols-outlined">
                    shopping_basket
                    </span> 
                    Validade Fácil</span>
            </h1>
        </div>


        <p class="mt-5 text-center">
           Gerencie facilmente suas compras e datas de validade, de forma fácil, rápida e gratuíta 
        </p>



        <div class="d-flex justify-content-center">
            <input type="button" class="text-center btn-success btn " value="Cadastre-se Agora" onclick="location.replace('/registro')">
        </div>
 
        <div class="cadastro text-center my-5 bg-opdark text-bg-dark rounded py-3">

            <h2> Até agora tivermos </h2>

                <p class="h2 destaque"><%=cadastro%> cadastros</p>

                <p class="h2 destaque"><%=vencidos%> produtos vencidos</p>

                <p class="h2 destaque"><%=consumidos%> produtos consumidos</p>

        </div>


    </main>
    
    

    <div class="text-bg-dark">
        <%- include("./components/footer.ejs")%>
    </div>



</body>
</html>